:root {
  --red: #ff0000;
  --green: #008000;
  --darkBlue: #00008b;
  --black: #000000;
  --yellowLight: #ffd740;
  --white: #ffffff;
  --purple: #673ab7;
  --pink: #d5354c;
  --horizontalShadow: #0003;
  --verticleShadow: #00000024;
  --spreadShadow: #0000001f;
  --gray: lightgray;
}
